.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 120px;
}

.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items> ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.search{
    padding: 10px;
}

.res-card{
    width:250px;
    padding: 5px;
    margin: 20px;
    background-color: #e8e4e8;
    word-break: break-all;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-img{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}